@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #85dcb8;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 1rem;
  width: 18rem;
  position: relative;
  overflow: hidden;
}
.movie-info {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: #1f2833;
}
.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}
img {
  width: 100%;
}
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  opacity: 0;
  
  overflow: scroll;
}
.card:hover .overview {
  opacity: 1;
  transition: 0.3s ease-in;
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: tomato;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.highlight {
  background-color: teal;
}

.know-more{
  background-color: orange;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 5px;

}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 10%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; 
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.pagination{
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  color:white;
  font-weight: bold;
}
.page{
  padding: 20px;
  cursor: pointer;
}
.page.disabled{
  cursor: not-allowed;
  color: grey;
}
.current{
  border-radius: 50%;
  border: 5px solid orange;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
}
.embed.hide{
  display: none;
}

.embed.show{
  display: inline-block;
}

.arrow{
  position: absolute;

}
.arrow.left-arrow{
  left: 0%;
  font-size: 50px;
  transform: translateY(-50%);
  top: 50%;
}
.arrow.right-arrow{
  right:0%;
  font-size: 50px;
  transform: translateY(-50%);
  top: 50%;
}

.dots{
  margin-top: 30px;
}

.dots .dot.active{
  border-color: lightgreen;
  transition: 2ms;
}
.dots .dot{
  border-radius: 50%;
  margin:5px;
  border: 5px solid orange;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}