@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #85dcb8;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 1rem;
  width: 18rem;
  position: relative;
  overflow: hidden;
}
.movie-info {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.movie-info span {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: #1f2833;
}
.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}
img {
  width: 100%;
}
.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  opacity: 0;
}
.card:hover .overview {
  opacity: 1;
  transition: 0.3s ease-in;
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tag {
  color: white;
  padding: 10px 20px;
  background-color: tomato;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.highlight {
  background-color: teal;
}
